* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html{
  overflow-x: hidden;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: var(--light-white) !important;
}
@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
  }
}

.black{
  color: black !important;
}
:root{
  /* WHITE */
  --primary-white: #ffffff;
  --secondary-white: #f8f9fa;
  --third-white: #e1e1e1;

  /* GREEN */
  --primary-green: #5ea000;
  --secondary-green: #88BF47;

  /* BLUE */
  --primary-blue: #2A3F51;
  --secondary-blue: #13222F;

  /* --navy-blue: #88bf47; */

  /* BLACK */
  --primary-black: #000;
  --secondary-black: #2d2d2d;
  --third-black: #333;
  
  /* GREY */
  --primary-grey: #666;
  --secondary-grey: #6b7280;
  --third-grey: #888;

  --light-blue: #d1e4f7;
  --light-white: #f7f3f7;
  /* --secondary-blue: #00a0e4; */
  --third-blue: #006699;
  --fourth-blue: #0066cc;
  --dark-background: #212121;
}
/* ______________________GENERAL STYLES_________________________ */

/* ______________________HEADER_________________________________*/
.header {
  padding: 10px 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10rem; */
  box-shadow: none;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
/* LOGO */
.logo {
  color: var(--third-blue);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  flex: 0 0 auto;
  width: 200px;
  
}

#pyramids-logo{
 width: 100%;
 height: auto;
 max-height: 100px;
 object-fit: cover;

}
/* NAVBAR */
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--white);
  flex: 1;
}

.nav-menu a {
  text-decoration: none;
  color: var(--dark-background);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 0;
  display: block;
  position: relative;
}

.nav-item{
  position: relative;
}

.nav-menu a:hover {
  color: var(--secondary-green);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--white);
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  min-width: 180px;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* Style for dropdown items */
.dropdown-menu .dropdown-item {
  display: block;
  padding: 10px 15px;
  color: var(--dark-background);
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
}

.dropdown-menu .dropdown-item:hover {
  background: var(--secondary-green);
  color: white;
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* Ensure dropdown stays visible when hovered */
.nav-item:hover .nav-link {
  color: var(--secondary-green);
}

.dropdown::after {
  content: "▼";
  font-size: 8px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  color: var(--dark-background);
}

#productsDropdown, #aboutDropdown{
  justify-content: center;
  display: flex;
}

/* MOBILE TOGGLE */
.mobile-menu-toggle {
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.mobile-menu-toggle span{
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--dark-background);
  margin: 5px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* LANGUAGE SWITCHER */
.language-dropdown {
  flex: 0 0 auto; /* Prevent language dropdown from growing or shrinking */
  position: relative;
  display: inline-block;
}

.language-dropdown button {
  background: none;
  border: none;
  color: var(--dark-background);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.language-dropdown button::after{
  content: "▼";
  font-size: 8px;
}

.language-dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--primary-white);
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  min-width: 120px;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.language-dropdown .dropdown-menu li {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.language-dropdown .dropdown-menu a{
  text-decoration: none;
  color: var(--dark-background);
}

.language-dropdown .dropdown-menu li img {
  width: 20px; /* Flag size */
  height: auto;
  margin-right: 5px;
}

.language-dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* Responsive design */
@media (max-width: 1024px) {
  .nav-menu {
  gap: 15px;
  }
  
  .nav-menu a {
  font-size: 12px;
  }

  .logo{
    width: 180px;
  }

  #pyramids-logo{
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 10px 10px;
  }

  .nav-menu {
    display: none; /* Only hide on mobile and add a hamburger menu */
    position: absolute;
    top: 100%; /* Position below the header */
    left: 0;
    width: 100%;
    background: var(--primary-white);
    flex-direction: column;
    gap: 0;
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.active {
    display: flex; /* Show nav-menu when active */
  }

  .nav-item{
    align-items: center;
  }
  .nav-menu a{
    display: flex;
    justify-content: center;
  }
  .language-dropdown {
    display: none; /* Hide language dropdown on mobile */
  }


  .mobile-menu-toggle {
    display: block; /* Show toggle button */
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .logo{
    width: 200px;
  }

  #pyramids-logo{
    width: 100%;
  }

}
/* ____________________________________________________________ */
/* ______________________HERO SECTION______________________ */
.hero-section {
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  height: 500px;
}

.hero-video {
  width: 100%;
  height: 100vh; /* Make it full-screen height */
  overflow: hidden;
  position: relative;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the container without distortion */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the video */
}

/* HERO TEXT */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.hero-text{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hero-text h1{
  display: block;
  margin: 0 auto;
  font-family: "Montserrat Medium";
  letter-spacing: 1px;
  font-weight: bold;
  font-variant: all-small-caps;
  color: var(--primary-white);
  text-shadow: 1px 0px 1px black;
  max-width: 50ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.hero-text span {
  display: inline-block;
  gap: 5px;
  opacity: 0;
  filter: blur(4px);
}

.hero-text span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-text span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@media(max-width: 768px){
  .hero-video video{
    object-fit: cover;
  }
}

/* ____________________________________________________________________ */
/* ______________________DISCOVER - ABOUT SECTION______________________ */
.discover-section {
  padding: 5rem 0;
  background-color: var(--secondary-white);
  font-family: system-ui, -apple-system, sans-serif;
}

.discover-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 5rem;
}

.discover-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 3rem;
  align-items: center;
}

.discover-image-wrapper {
  position: relative;
  margin-left: -3rem; /* Creates an overlapping effect */
}

.discover-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  /* border: 10px solid black; */
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.experience-badge {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  background-color: var(--primary-blue);
  color: white;
  padding: 2rem;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.experience-number {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

.experience-text {
  font-size: 1rem;
  margin: 0.5rem 0 0 0;
  line-height: 1.2;
}

.discover-content {
  padding-right: 2rem;
}

.discover-tag {
  color: var(--primary-green);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.discover-title {
  color: var(--secondary-black);
  font-size: 2.5rem;
  margin: 0 0 1.5rem 0;
  line-height: 1.2;
  position: relative;
}

.discover-title::after {
  content: '';
  display: block;
  width: 300px;
  margin: 0 auto;
  height: 5px;
  background-color: var(--primary-blue);
  margin-top: 1rem;
}

.discover-description {
  color: var(--primary-grey);
  line-height: 1.8;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.feature-card {
  background: var(--primary-white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-icon {
  /* background-color: rgba(0,88,145,1); */
  /* color: #005891; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.icon-background{
  background-color: var(--primary-blue);
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}

.feature-title {
  color: var(--secondary-black);
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
}

.feature-description {
  color: var(--primary-grey);
  margin: 0;
  line-height: 1.6;
  font-size: 1rem;
}

.contact-btn {
  display: inline-block;
  background-color: var(--primary-green);
  color: var(--primary-white);
  padding: 1rem 2rem;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 4px;
}

.contact-btn:hover {
  background-color: var(--primary-green);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,88,145,0.2);
}

@media (max-width: 1024px) {
  .discover-grid {
      grid-template-columns: 1fr;
      gap: 3rem;
  }

  .discover-image-wrapper {
      margin-left: 0;
      order: -1;
  }

  .discover-image {
      border-radius: 10px;
      max-width: 100%;
  }

  .discover-content {
      padding-right: 0;
  }

}

@media (max-width: 768px) {
  .features-grid {
      grid-template-columns: 1fr;
  }

  .experience-badge {
      width: 150px;
      height: 150px;
      padding: 1.5rem;
      margin-right: 10px;
  }

  .experience-number {
      font-size: 2.5rem;
  }

  .discover-title {
      font-size: 2rem;
  }
  .discover-container {
      padding: 0 1rem;
  }
}
/* MACBOOK 12" */
@media (min-width:1280px) and (max-width: 1366px){
  .features-grid{
    grid-template-columns: 1fr;
  }
}
/* ______________________________________________________________________ */
/* ______________________SERVICES SECTION______________________ */
.services-section {
  padding: 5rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: relative;
  background-image: url('/images/image-1.webp');
  background-size: cover;
  background-position: center;
  font-family: system-ui, -apple-system, sans-serif;
  min-height: 100vh;
  
}

.services-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  z-index: 1;
}

.services-tag {
  color: var(--primary-green);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.services-title {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  line-height: 1.2;
  text-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.services-description {
  color: white;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 3rem;
  line-height: 1.6;
  font-size: 1.1rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.services-card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.services-card.blue-card {
  background-color: var(--primary-green);
  color: white;
}

.services-card:hover {
  transform: translateY(-5px);
}

.card-up{
  position: relative;
  bottom: 10%;
}

.card-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 0.7rem;
}

.card-icon svg {
  width: 100%;
  height: 100%;
}

.img-card-icon{
  max-width: 100%;
}

.card-title {
  color: var(--third-black);
  font-size: 1.25rem;
  margin-bottom: 10px !important;
  font-weight: 600;
}

.card-description {
  color: var(--primary-grey);
  line-height: 1.5;
  margin: 0;
  font-size: 1rem;
}

.blue-card .card-description {
  color: rgba(255, 255, 255, 0.9);
}


@media (max-width: 768px) {
  .services-grid {
      grid-template-columns: 1fr;
  }

  .services-title {
      font-size: 2rem;
  }

  .services-description {
      font-size: 1rem;
  }

  .services-section{
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/* _________________________________________________________________________________________*/
/* ______________________________PRODUCTS SECTION ________________________________________ */
.products-section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 5rem;
  text-align: center;
  background-color: var(--secondary-white) !important;
}

.products-title {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--primary-green);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.products-header h1{
  font-size: 48px;
  font-weight: 600;
  color: var(--primary-green);
  margin-bottom: 16px;
}
.products-header p{
  font-size: 20px;
  color: #6B7280;
  line-height: 1.5;
}

.products-description {
  color: var(--primary-grey);
  font-size: 16px;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.products-item {
  background: var(--primary-white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.products-item:hover {
  transform: translateY(-5px);
}

.products-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.products-content {
  padding: 0px;
}

.products-content h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--third-black);
  margin-bottom: 10px;
}

.products-content p {
  font-size: 14px;
  color: var(--primary-grey);
  margin: 0;
}
@media (max-width: 1024px) {
  .products-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .products-grid {
      grid-template-columns: 1fr;
  }

  .products-title {
      font-size: 2rem;
  }

  .products-description {
      font-size: 1rem;
  }
}
/* ______________________________________________________________________*/
/* Modal Styles */
.modal-content {
  max-width: 100%;
  margin: auto;
}

.modal-container {
  display: flex;
  gap: 20px;
}

/* Carousel Styles */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-slide {
  display: flex;
  transition: transform 400ms ease-in-out;
  height: 100%;
  width: 100%;
}

.carousel-image {
  width: 100%;
  transition: opacity 400ms ease-in-out;
  opacity: 0;
  object-fit: cover;
}

.carousel-image.active {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 2rem;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Splide Carousel Styles */
.splide {
  width: 100%;
  margin: 0 auto;
}

.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splide__slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.splide__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.splide__arrow {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.splide__arrow--prev {
  left: 10px;
}

.splide__arrow--next {
  right: 10px;
}

/* Modal Container */
.modal-container {
  display: flex;
  gap: 20px;
}

/* Details Container */
.details-container {
  width: 50%;
}

.size-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.size-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  color: var(--primary-black);
}

.size-button.active {
  color: var(--secondary-green);
  border-bottom: 3px solid var(--secondary-green);
}

.product-details ul {
  list-style: none;
  padding: 0;
}

.product-details li {
  margin-bottom: 10px;
}



/* __________________________FAQ SECTION____________________________________________*/
.faq-section {
  margin: 0 auto;
  padding: 40px 50px;
  font-family: 'Inter', sans-serif;
  background-color: var(--secondary-white);
}

.faq-header {
  margin-bottom: 48px;
  text-align: center;
}

.faq-header h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--primary-green);
  margin-bottom: 16px;
}

.faq-header p {
  font-size: 20px;
  color: #6B7280;
  line-height: 1.5;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-question{
  display: flex;
  align-items: center;
  gap: 16px;
}


.icon {
  width: 48px;
  height: 48px;
  background: #F3F4F6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #111827;
}

.icon img {
  width: 38px;
  height: 38px;
}

.faq-item h3 {
  font-size: 20px;
  font-weight: 500;
  color: #111827;
  margin: 0;
}

.faq-item p {
  font-size: 16px;
  color: #6B7280;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 768px) {
  .faq-grid {
    grid-template-columns: 1fr;
  }
  
  .faq-header h1 {
    font-size: 36px;
  }
  
  .documentation-button {
    position: static;
    margin-top: 32px;
  }
}
/* ______________________________________________________________________*/
/* __________________________CONTACT SECTION____________________________________________*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.contact-section {
  font-family: 'Inter', sans-serif;
  padding: 40px 20px;
  color: white;
  background-color: var(--secondary-white);
  position: relative;
}

.contact-section::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Only half of the section */
  background-image: url('/images/image-6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 0;
}

.contact-section::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  z-index: 1;
}

.contact-header {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 40px;
  z-index: 9;
  position: relative;
}

.contact-header h1::after{
  content: '';
  display: block;
  width: 61%;
  margin: 0 auto;
  height: 5px;
  background-color: var(--primary-green);
  margin-top: 5px;
}

.connect-text {
  color: var(--primary-green);
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 9;
}

h1 {
  font-size: 36px;
  margin: 15px 0;
  font-weight: 700;
}

.contact-subtitle {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
  z-index: 9;
}

.contact-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  z-index: 9;
}

.contact-info {
  flex: 1;
  padding: 40px;
  border: var(--dark-background) 35px solid;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
   url('/images/image-5.png') center/cover;
  color: white;
  z-index: 9;
}

.contact-info h2 {
  color: var(--primary-green);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
  z-index: 9;
}

.contact-info h3 {
  font-size: 28px;
  margin-bottom: 30px;
  z-index: 9;
}

.contact-info h3::after{
  content: '';
  display: block;
  width: 55%;
  height: 5px;
  background-color: var(--primary-green);
  margin-top: 5px;
}

.info-items {
  margin-top: 40px;
  z-index: 9;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-item svg {
  margin-right: 15px;
}

.info-item span {
  font-size: 15px;
}

.contact-form {
  flex: 1;
  padding: 40px;
  background: var(--dark-background);
  z-index: 9;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--primary-white);
  font-size: 14px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--third-white);
  border-radius: 4px;
  background: var(--secondary-white);
  font-size: 14px;
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
}

button {
  width: 100%;
  padding: 15px;
  background: var(--primary-green);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}
/* REMOVE LATER */
/* button:hover {
  background: #005580; 
} 
*/

@media (max-width: 768px) {
  .contact-container {
      flex-direction: column;
  }
  
  .contact-info,
  .contact-form {
      padding: 30px;
  }

  .contact-info h3::after{
    width: 80%;
  }

  .info-item svg{
    margin-right: 5px;
  }
}
/* ______________________________________________________________________*/
.email-hyperlink{
  color: var(--white);
  text-decoration: none;
}
#footer-email{
  color: #cccccc;
}
.location-link{
  text-decoration: none;
  color: var(--primary-white);
}
/* __________________________FOOTER SECTION____________________________________________*/
.footer {
  background-color: var(--dark-background);
  color: white;
  padding: 50px 0 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  margin: 0 10rem;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 0.5fr 1.5fr 1fr;
  gap: 3%;
  padding: 0 20px;
}

.footer-section h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
}

.footer-section h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-green);
}

#contact-us::after {
  width: 100% !important;
}

#useful-links{
  padding: 0 10%;
}

.footer-logo{
  display: block;
  width: 70%;
  margin: 0px auto;
}

.footer-section p {
  line-height: 1.6;
  color: #cccccc;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 20px;
}

.footer-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.footer-social-icon:hover {
  background-color: var(--secondary-green);
  fill: var(--secondary-green)
}

.social-icon{
  width: 30px;
}

/* SOCIAL ICONS */
.social-card{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  gap: 15px;
  overflow: hidden;
  border-radius: 27px;
}

/* for all social containers*/
.social-card a {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.social-card a:hover {
  transform: scale(1.2);
  border-radius: 15px;
}
/*ALIBABA*/
.social-card a:nth-child(1):hover {
  background-color: #ff6600;
}
/* twitter*/
.social-card a:nth-child(2):hover {
  background-color: #00acee;
}
/* linkedin*/
.social-card a:nth-child(3):hover {
  background-color: #0072b1;
}
/* Whatsapp*/
.social-card a:nth-child(4):hover {
  background-color: #25d366;
}

.social-card a:active {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

/*first-child*/
.social-card a svg:first-child {
  display: flex;
  scale: 1.3;
  position: absolute;
  width: 17px;
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.social-card a svg:first-child path {
  fill: rgb(255, 255, 255);
}

.social-card a:hover svg:first-child {
  transform: translateY(-40px);
  opacity: 0;
}
/*last-child*/
.social-card a svg:last-child {
  display: flex;
  position: absolute;
  width: 17px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.social-card a svg:last-child path {
  fill: rgb(255, 255, 255);
}

.social-card a:hover svg:last-child {
  opacity: 1;
  transform: translateY(0px);
}

/* FOOTER LINKS */
.footer-links {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--secondary-green);
}

.footer-contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-contact-info svg {
  flex-shrink: 0;
}

.chevron-right{
  vertical-align: text-top !important;
}

.footer-bottom {
  /* max-width: 1200px; */
  margin: 40px auto 0;
  padding: 20px;
  border-top: 1px solid var(--third-black);
  text-align: center;
  color: var(--third-grey);
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    margin: 0;
  }
  
  .footer-section {
    text-align: left;
  }

  .footer-links{
    grid-template-columns: 1fr;
  }
  
  .footer-section h2::after {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .social-card {
    width: auto;
  }

  .contact-info p {
    justify-content: left;
  }
  
  .footer-bottom {
    text-align: center;
  }

  #useful-links{
    padding: 0;
  }

  .footer-logo{
    width: 50%;
  }

}

@media (min-width: 769px) and (max-width: 1024px){
  .footer-content{
    grid-template-columns: 0.2fr 1fr 1fr;
    margin: 0;
    gap: 0;
  }
  .footer-links{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1280px) and (max-width: 1366px){
  .footer-content{
    gap: 0;
  }
  .footer-content{
    margin: 0;
  }
}

/* ______________________________________________________________________*/
/* __________________________TO THE TOP BUTTON_________________________ */
#top-button {
  display: inline-block;
  background-color: var(--primary-green);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none !important;
}
#top-button::after {
  content: "\2191";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--primary-white);
}
#top-button:hover {
  cursor: pointer;
  background-color: var(--secondary-green);
}
#top-button.show {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 768px) {
  #top-button {
    right: 10px;
    bottom: 10px;
  }
}
/* ______________________________________________________________________*/






