html{


}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.justify-content-center{
    display: flex;
    justify-content: center;
}
.justify-content-between{
    display: flex;
    justify-content: space-between;
}
.justify-content-around{
    display: flex;
    justify-content: space-around;
}